<html>
<head>
	<title>Flask Demo</title>
	<script type="text/javascript" src="./static/lib/d3.js"></script>
	<script type="text/javascript" src="./static/lib/leaflet.js"></script>
	<link rel="stylesheet" href="./static/lib/leaflet.css" />

	<style>
		body {
		    padding: 0;
		    margin: 0;
		}
		html, body, #map {
		    height: 100%;
		}
	</style>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>

	<div id="map"></div>

	<script type="text/javascript">

		var map = L.map('map').setView([22.539029, 114.062076], 15);

		//this is the OpenStreetMap tile implementation

		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		//uncomment for Mapbox implementation, and supply your own access token

		// L.tileLayer('https://api.tiles.mapbox.com/v4/{mapid}/{z}/{x}/{y}.png?access_token={accessToken}', {
		// 	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		// 	mapid: 'mapbox.light',
		// 	accessToken: [INSERT YOUR TOKEN HERE!]
		// }).addTo(map);

		//create variable to store path to svg and g elements
		var svg = d3.select(map.getPanes().overlayPane).append("svg"),
			g = svg.append("g").attr("class", "leaflet-zoom-hide");

		function projectPoint(x, y) {
			var point = map.latLngToLayerPoint(new L.LatLng(y, x));
			this.stream.point(point.x, point.y);
		}
		function latlngPoint(x, y) {
			return map.latLngToLayerPoint(new L.LatLng(x, y));
		}

		var transform = d3.geo.transform({point: projectPoint}),
		path = d3.geo.path().projection(transform);

		updateData();

		function updateData(){

			// mapBounds = map.getBounds();

			// lat1 = mapBounds["_southWest"]["lat"];
			// lat2 = mapBounds["_northEast"]["lat"];
			// lng1 = mapBounds["_southWest"]["lng"];
			// lng2 = mapBounds["_northEast"]["lng"];

			// // res = 10;
			// var w = window.innerWidth;
			// var h = window.innerHeight;
			// var numW = Math.floor(w/res);
			// var numH = Math.floor(h/res);

			// var offsetLeft = (w - numW * res) / 2.0 ;
			// var offsetTop = (h - numH * res) / 2.0 ;

			request = "/getData/"

		  	d3.json(request, function(data) {

		  		console.log(data);
				//remove any existing circles on map
				// d3.selectAll("circle").remove()

				//create placeholder circle geometry and bind it to data
				var circles = g.selectAll("circle")
				.data(data.points.features)

				circles.enter()
					.append("circle")
				    	.attr("r", 5);

				map.on("viewreset", reset);
				reset();

				// circles.exit().remove();

				// Reposition the SVG to cover the features.
				function reset() {

				    var bounds = path.bounds(data.points),
				        topLeft = bounds[0],
				        bottomRight = bounds[1];

				    var buffer = 100;

				    console.log(bounds);

				    svg .attr("width", bottomRight[0] - topLeft[0] + (buffer * 2))
				        .attr("height", bottomRight[1] - topLeft[1] + (buffer * 2))
				        .style("left", (topLeft[0] - buffer) + "px")
				        .style("top", (topLeft[1] - buffer) + "px");

				    g   .attr("transform", "translate(" + (-topLeft[0] + buffer) + "," + (-topLeft[1] + buffer) + ")");

				    circles
				    	.attr("cx", function(d) { return latlngPoint(d.geometry.coordinates[1], d.geometry.coordinates[0]).x; })
				    	.attr("cy", function(d) { return latlngPoint(d.geometry.coordinates[1], d.geometry.coordinates[0]).y; });
				};

			});
		};

	</script>

</body>
</html>